[submodule "domain1"]
	path = domain1
	url = https://github.com/Blackbaud-RobertTester/ui-domain1.git
[submodule "src/app/domain1"]
	path = src/app/domain1
	url = https://github.com/Blackbaud-RobertTester/ui-domain1.git
[submodule "ui-common"]
	path = ui-common
	url = https://github.com/Blackbaud-RobertTester/ui-common.git
[submodule "src/app/ui-common"]
	path = src/app/ui-common
	url = https://github.com/Blackbaud-RobertTester/ui-common.git
